@use "common" as *;

@mixin button {
	border-radius: 0.22rem;
	align-items: center;
	text-align: center;
	align-content: center;
	cursor: pointer;
	text-decoration: none;
	display: inline-flex;
	border: none;
	outline: none;
	font-weight: 600;
	min-inline-size: min-content;
	width: fit-content;
	background-color: $light-border;
	color: #000000;
	block-size: 2.68rem;
	font-size: 1rem;
	padding: 0.55rem 1.33rem;
}

@mixin primary {
	background-color: $primary;
	color: #fff;
}

@mixin danger {
	background-color: red;
	color: #fff;
}

.Button {
	@include button;

	&.Primary {
		@include primary;
		&:hover {
			box-shadow: 0 0 8px 1px rgba($primary, 0.5);
		}
	}

	&.Danger {
		@include danger;
		&:hover {
			box-shadow: 0 0 8px 1px rgba(red, 0.5);
		}
	}

	&:disabled {
		opacity: 0.7;
		cursor: not-allowed;
	}

	transition: 0.2s box-shadow ease;
}
